:root {
    --color-primario: #912f5d;
    --color-primario-hover: #7a294d;
    --color-secundario: #f2aec7;
    --color-texto-secundario: #6b0b21;
}

.btn-personalizado {
    background-color: var(--color-primario);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 8px 22px;
    font-weight: 600;
    transition: 0.3s;
}

.btn-personalizado:hover {
    background-color: var(--color-primario-hover);
    color: white;
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(145, 47, 93, 0.4);
}

.form-control:focus {
    border-color: var(--color-primario);
    box-shadow: 0 0 0 0.2rem rgba(145, 47, 93, 0.25);
}